[Desktop Entry]
Type=Application
Name=Google Chrome
GenericName=Web Browser
Comment=Access the Internet
Icon=google-chrome
Exec=/run/current-system/sw/bin/google-chrome-stable %U
Terminal=false
Categories=Network;WebBrowser;
StartupNotify=true
